app-header {
  
  display: flex;
  align-items: baseline;
  margin-bottom: 2rem;
  
  placeholder {
    display: block;
    flex-grow: 1;
  }
  
  .menu {
    font-size: 2rem;
    position: relative;
    
    menu-frame {
      display: inline-block;
      z-index: 99;
      font-size: 1rem;
      visibility: hidden;
      position: absolute;
      top: 100%;
      right: 0;
      
      background: #fff;
      border: 1px solid grey;
      transition: 0.2s;
      transition: all;
    }
  }
  
  .menu[data-menu-expanded="1"] {
    menu-frame {
      visibility: visible;
    }
  }

  main-menu {
    h1 {
      font-size: 2rem;
      line-height: 2rem;
    }
    menu-frame {
      left: 0;
    }
  }
  
  user-menu {
    font-size: 2rem;
    line-height: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  menu-frame {
    right: 0;
  }
  
  img {
    height: 2rem;
    vertical-align: baseline;
  }  

}




h1 {
  margin: 0;
  line-height: 2em;
}