account > name {
}

.best_in_place {
  min-width: 80px;
}

.form_in_place input {
  border: 0;
  background: none;
  width: 100px;
  margin: 0;
  apdding: 0;
  line-height: inherit;
  text-align: right;
  font-family: inherit;
  font-wieght: inherit;
  sint-size: inherit;
}

.form_in_place select {

}
